################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/parking/v17
/.vs
/Parking/.vs
/Parking/Parking/obj
/Parking/ConsoleApp2/obj/Debug
/Parking/packages
/Parking/Parking/bin/Debug/net8.0
